{{ define "main" }}
<header class="buttons">
    <a id="darkToggle"><i class="fa-solid fa-toggle-on"></i></i> Dark Mode</a>
    <a id="toggleColumns"><i class="fa-solid fa-table-columns"></i> Columns</a>
    <a onclick="window.print()"><i class="fa-solid fa-file-pdf"></i> Save as PDF</a>
    <a id="arialToggle" style="font-family: Arial;">Arial</a>
    <a id="dysToggle" style="font-family: 'OpenDyslexic';">Open Dyslexic</a>
    <a id="garToggle" style="font-family: 'Garamond';">Garamond</a>
</header>
<div class="paper">
    <!-- Display Metadata from Markdown files -->
    <h1>{{ .Title }}</h1>
    <!-- ... Other metadata like authors, date, abstract ... -->
    <div class="authors">
        {{ range .Params.authors }}
            <span class="author" 
                    data-affiliation="{{ .affiliation }}" 
                    data-email="{{ .email }}">
                <a>{{ .name }}</a>
            </span>
        {{ end }}
        <div class="author-details"></div><!-- This div will display hovered author details -->
    </div>

    <p>{{ .Date.Format "January 2, 2006" }}</p>

    {{ if .Params.abstract }}
        <div class="abstract">
            <strong>Abstract:</strong> {{ .Params.abstract }}
        </div>
    {{ end }}

    {{ if .Params.keywords }}
        <div class="keywords">
            <strong>Keywords:</strong> 
            {{ range .Params.keywords }}
                <span>{{ . }}</span>
            {{ end }}
        </div>
    {{end}}
    <hr>

    <div class="content">
        <!-- Loop through sections -->
        {{ if eq .Params.content "yaml"}}
            {{ range (.Resources.Match "section-*.yaml") }}
                {{ $data := . | transform.Unmarshal }}
                <h2>{{ with $data.title }}{{ . }}{{ else }}No Title{{ end }}</h2>
                <p>{{ with $data.content }}{{ . | markdownify }}{{ else }}No Content{{ end }}</p>
            {{ end }}
        {{ else }}
            {{ .Content }}
        {{ end }}
    </div>

    <!-- Display figures -->
    {{ if .Params.figures }}
        <h3>Figures</h3>
        {{ range .Params.figures }}
            <figure>
                <img src="{{ .file }}">
                <figcaption>{{ .caption }}</figcaption>
            </figure>
        {{ end }}
    {{ end }}

</div>
{{ end }}