<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://kit.fontawesome.com/ce761a990f.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                processEscapes: true
            },
            startup: {
                ready: function() {
                    MathJax.startup.defaultReady();
                    MathJax.startup.promise.then(function() {
                    });
                }
            }
        };
    </script>    
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>