@keyframes pulsingHighlight {
    0%, 100% { color: currentColor; }
    50% { color: $accent-color; }
}

:target {
    animation: pulsingHighlight .75s ease-in-out infinite;
}

p:has(> :target) {
    animation: pulsingHighlight .75s ease-in-out 2s;
}
