@keyframes pulsingHighlight {
    0%, 100% {
        color: currentColor;
        text-shadow: none;
    }
    50% {
        color: $accent-color;
        text-shadow: 0 0 0.05rem $accent-color;
    }
}

@keyframes pulsingBackground {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: rgba($accent-color, 0.2);  // A softer, translucent version of the accent color
    }
}

span:target {
    animation: pulsingHighlight 2s ease-in-out infinite;
    scroll-margin-top: 8rem;
}

figure:target {
    animation: pulsingBackground 2.25s ease-out;
    scroll-margin-top: 8rem;

    .caption {
        animation: pulsingHighlight 2s ease-in-out infinite;
    }
}

.highlighted {
    animation: pulsingBackground 2.25s ease-out;
}

// Adjustments for smaller screens
@media screen and (max-width: 768px) {
    :target {
        scroll-margin-top: 16em;
    }
}