@import url('https://fonts.cdnfonts.com/css/opendyslexic');
@import url('https://fonts.cdnfonts.com/css/garamond');

$font-stack: Arial, sans-serif;
$primary-color: #197278;
$text-color: #12222e;
$accent-color: #3ea39e;
$background-color: #ffffff;

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $text-color;
    background-color: $background-color;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;

    &.dark-mode {
        // Overwrite your default light theme with the dark theme colors
        $primary-color: #88c8c1;
        $text-color: #e0e0e0;
        $accent-color: #197278;
        $background-color: #12222e;
    
        background-color: $background-color;
        color: $text-color;
    }

    &.dyslexia-mode {
        font-family: 'OpenDyslexic', $font-stack;
    }

    &.garamond-mode {
        font-family: 'Garamond', $font-stack;
    }

}

li {
    margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}

h1 {
    font-size: 3em;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;

    &:hover {
        text-decoration: underline;
        color: $accent-color;
    }
}

.paper {
    width: 55vw;      // Taking up 80% of the viewport width
    max-width: 1200px;  // Prevents the content from becoming too wide on large screens
    min-height: 80vh;
    margin-left: auto;  // Centers the content horizontally
    margin-right: auto;
    padding: 6.6rem;   // Adding some padding so content isn't flush against the colored background
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    hr {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .abstract {
        font-style: italic;
        color: $primary-color;
        margin-bottom: 1rem;
    }

    .keywords span{

        &:not(:last-child)::after {
            content: ' | ';
        }
    }

    .authors {
        .author {
            font-weight: bold;

            &:not(:nth-last-child(2))::after {
                content: ' | ';
            }
        }

        .author-details {
            margin-top: 10px; // space between authors and details
            opacity: 0;
            max-height: 0; // Used instead of display: none
            transition: opacity 0.2s ease-in, max-height 0.2s ease-in-out;

            &.show {
                opacity: 1;
                max-height: 10rem;
            }
        }
        
    }

    .summary {
        margin: 2rem;
        font-size: 1.1rem;
    }

    .content {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;

        transition: column-count 1s ease-in-out;
        -webkit-transition: column-count 1s ease-in-out;
        -moz-transition: column-count 1s ease-in-out;

        &.two-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;

    &.buttons {
        background-color: $primary-color;
        padding: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        a {
            color: $background-color;
            text-decoration: none;
            margin: 5px 15px;
            padding: 10px 15px;
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;

            &:hover, &:focus {
                cursor: pointer;
                background-color: $accent-color;
            }
        }

    }
}

// Adjustments for smaller screens
@media screen and (max-width: 768px) {

    h1 {
        font-size: 2rem;
    }

    .paper {
        width: 90%;  // For smaller screens, content can take up full width
        padding: 5%;
        padding-top: 8rem;

        img {
            width: 80vw;
        }
    }
}

@media screen and (max-width: 504px) {

    .paper {
        padding-top: 12rem;
    }
}

@import "print";
@import "anim";