{{ $data := .data }}
{{ $lastName := (index (split (index $data.authors 0) " ") 0) }}
{{ $firstName := (index (split (index $data.authors 0) " ") 1) }}
<p class="entry">
    <a href="#{{ .key }}"><i class="fa-solid fa-arrow-up"></i></a>
    {{ $lastName }}, {{ $firstName }}
    {{ range $index, $authorName := after 1 $data.authors }}
        {{ if eq $index (sub (len $data.authors) 1) }}, and{{ else }},{{ end }} {{ $authorName }}
    {{ end }}. "{{ $data.title }}"
    {{ with $data.journal }}{{ . }},{{ end }}
    {{ with $data.volume }}vol. {{ . }},{{ end }}
    {{ with $data.issue }}no. {{ . }},{{ end }}
    {{ with $data.year }}{{ . }},{{ end }}
    {{ with $data.pages }}pp. {{ . }}.{{ end }}
</p>
