{{ $lastName := (index (split (index .data.authors 0) " ") 0) }}
<span class="intext" id="{{ .key }}">
{{ if eq (len .data.authors) 1 }}
    ({{ $lastName }} {{ with .data.pages }}{{ . }}{{ else }}{{ with .data.year }}{{ . }}{{ end }}{{ end }})
{{ else if eq (len .data.authors) 2 }}
    ({{ $lastName }} and {{ index (split (index .data.authors 1) " ") 0 }} {{ with .data.pages }}{{ . }}{{ else }}{{ with .data.year }}{{ . }}{{ end }}{{ end }})
{{ else }}
    ({{ $lastName }} et al. {{ with .data.pages }}{{ . }}{{ else }}{{ with .data.year }}{{ . }}{{ end }}{{ end }})
{{ end }}
</span>